<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="css/style.css" /> -->
        <style>
          .reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  .form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #00000030;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #00000030;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0071c2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
        </style>
       
        <script>
            var status = '<%- JSON.stringify(status) %>';
       if (JSON.parse(status) == "verified") {
         if (confirm("Do you want to login?")) {
           window.location.href = "http://localhost:3000/login";
         }
       }
         </script>
    </head>
    <body>
        <h1><%= email%></h1>
        <div class="reset-password">
            <div class="form">
                <form action="" method="post">
                    <label htmlFor="password">
                      Password:
                      <input
                        type="password"
                        id="password"
                        name="password"
                        required
                      /><br/>
                    </label>
                    <label htmlFor="confirmPassword">
                      Confirm Password:
                      <input
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        required
                      /><br/>
                    </label>
                    <button type="submit">Submit</button>
                  </form>
            </div>
        </div>
    </body>
</html>

